Source: ginger-base
Section: misc
Priority: optional
Maintainer: Lucio Correia <luciojhc@linux.vnet.ibm.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10),
               dh-python,
               gettext,
               pysassc,
               python,
               python-lxml,
               xsltproc,
               wok-dev
Homepage: https://github.com/kimchi-project/gingerbase

Package: ginger-base
Architecture: all
Depends: python-apt,
         python-cherrypy3,
         python-configobj,
         python-lxml,
         python-parted,
         python-psutil,
         gettext,
         git,
         sosreport,
         wok,
         ${misc:Depends},
         ${python:Depends}
Description: Basic host management for Kimchi and Ginger
 Ginger Base is an open source base host management plugin for Kimchi and
 Ginger plugins of Wok. It provides an intuitive web panel with
 common tools for monitoring and updating Linux systems.
